* {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Form styles */

.form-container {
  width: 25%;
  padding: 50px;
  background-color: whitesmoke;

  border-radius: 25px;
}

.button {
  width: 50px;
  background: black;
  color: white;
}

.input {
  padding-bottom: 15px;
  width: 90%;
}